.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message:hover {
    background-color: #738adb;
}

.message_info {
    margin-left: 20px;
}

.message_timestamp {
    margin-left: 10px;
    color: gray;
    font-size: x-small
}

.message_info > p {
    overflow-wrap: break-word;
    width: 65vw;
}

.message_messageComment {
    margin-top: 15px;
}



