.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message:hover {
    background-color: #738adb;
}

.message_info {
    margin-left: 20px;
}

.message_timestamp {
    color: gray;
    font-size: x-small
}

.message_info > p {
    overflow-wrap: break-word;
    width: 900px;
}

.message_deleteMessage {
    transform: translate(-50000);
    color: blue;
}


